@import '../../../style/mixins';

.quizpassing{
    // flex:1;
    height: 23vh;
    width: 30%;
    margin: 1.2%;
    margin-right: 0;
    
    
    @include boxStyle;

    h3{
        @include aboutHeading;
    }
}