@import "../../../style/mixins";

.dailytraining {
  // flex:1;
  height: 26vh;
  width: 50%;
  margin: 1.2%;
  margin-right: 0;

  @include boxStyle;

  .about {
    height: 10%;
    display: flex;
    justify-content: space-between;
    h3 {
      @include aboutHeading;
    }
  }

  .barchart{
     height: 100%;
     box-shadow: none;
     background-color: transparent;
  }
}
