@import '../../../style/mixins';

.piechart{
    flex:1;
    height: 38vh;
    
    margin: 0 1.2%;
    margin-right: 0;
    background-color: white;
    border-radius: 1rem;
    @include boxShadow;
}