@import '../../../style/mixins';

.dailytraining{
  
        // flex:1;
        height: 23vh;
        width: 50%;
        margin:1.2%;
        margin-right: 0;
        background-color: white;
        border-radius: 1rem;
        @include boxShadow;
}